#page-header .headerbar {
	background: url(images/forum_top_cde.png) no-repeat 0 0px;
}
#site-description a#logo {
	display: block;
	width: 450px;
	height: 82px;
}

@media (max-width: 700px) {
	#site-description a#logo {
		width:auto;
	}
}
